<% Rails.logger.info @project.inspect %>
<%= form_for @project do |f| %> 
	<% if @project.errors.any? %>
		<ul class="alert_message">
			<% @project.errors.messages.values.each do |message| %>
			
			<li><%= message.join "," %></li>
			<% end %>
		</ul>

	<% end %>
	<div class="form-group">
	<%= f.label :title, "My Project" %>
	<%= f.text_field :title, class: "form-control" %>
	</div>
	<br>
	<% if flash[:alert] %>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% elsif flash[:notice] %>
                <div class="alert alert-success"><%= flash[:notice] %></div>        
        <% end %>

	<div class="form-group">
	<%= f.label :body, "Project Description" %>
	<%= f.text_area :body, class: "form-control" %>
	<br>
    </div>

	<%= f.submit "Submit", class: "btn btn-primary" %>
	<%= link_to "Back", projects_path, class: "btn btn-danger" %>

<% end %>