<a href="#"><h1>Welcome to My Projects Page</h1></a>
<div class="button-float">
<%= link_to "New Project", new_project_path, class: "btn btn-primary" %>
<%= link_to "Discussions Page", discussions_path, class: "btn btn-primary" %>
</div>
</nav>
<div class = "project_list">
<h2>Most Popular Posts</h2>
<% @projects.each do |project| %>
	<p><%= link_to "#{project.title}", project %></p>
	
	<p><%= project.body %></p>
	<%= link_to "Delete", project, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to "Edit", edit_project_path(project) %>
  <p>Hit Count: <%= project.hit_count %></p>
  <p>Likes: <%= project.like_counter %></p>
	<hr>
<% end %>
</div>
<div class="new_projects">
<h2>Newest Posts</h2>
<% @new_projects.each do |project| %>
  <p><%= link_to "#{project.title}", project %></p>
  
  <p><%= project.body %></p>
  <%= link_to "Delete", project, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= link_to "Edit", edit_project_path(project) %>
  <p>Hit Count: <%= project.hit_count %></p>
  <p>Created at: <%= formatted_date project.created_at %></p>
  <hr>
<% end %>
</div>
  